.image-about-me-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;

    img {
        width: 100%;
        max-height: 400px;
        height: 100%;
        display: block;
        object-fit: cover;

    }
}