.text-intro {
    color: var(--grey-text-dark);
    font-size: 1.2em;
}

.name {
    color: var(--grey-color);
    font-size: 2em;
    font-weight: bold;
}

.title-h1 {
    background: var(--title-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.stats-container {
    margin-top: 2em;
    display: flex;
    gap: 3em;
    background-color: var(--white-background-opacity);
    width: max-content;
    padding: 0 1.5em;


    .stat-container {
        padding: 1.5em 0 0 0;
        border-bottom: 1px solid #575757;
    }

    /* Supprime la bordure du dernier élément sur mobile */
    .stat-container:last-child {
        border-bottom: none;
    }

    .number-stat {
        font-weight: bold;
        color: var(--orange-light);
        font-weight: 900;
    }

    .label-stat {
        color: var(--white-text);
        font-weight: 700;
    }        
}

.photo-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 400px;
    width: 100%;
    height: 100%; 
    max-height: 400px;
}

.circle-photo {
    position: absolute;
    /* Le cercle fait toujours la largeur du container */
    width: 100%;
    /* Mais garde un ratio 1:1 */
    aspect-ratio: 1 / 0.97;
    max-width: 400px;
    max-height: 400px;
    background-color: var(--white-background-opacity);
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.img-perso {
    position: relative;
    width: 100%;
    max-height: 500px;   
    z-index: 2;
    border-radius: 0 0 50% 50%;
    object-fit: cover;
}



/* Desktop (≥992px) : bordures verticales */
@media (min-width: 992px) {
    .stats-container {
        flex-wrap: nowrap;
        width: max-content; 
        justify-content: flex-start;
        padding: 1.5em 0;

        .stat-container {
            border-bottom: none;
            border-right: 1px solid #575757;
            padding: 0 1.5em;
        }

        /* Supprime la bordure du dernier élément sur desktop */
        .stat-container:last-child {
            border-right: none;
        }
    }

}