@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-lato: "Lato", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-color-body: #121212;
  --black-text: #000000;
  --white-color: #ffffff;
  --white-text: #DFDFDF;
  --white-text-light: #FEFEFE;
  --grey-color: #959595;
  --grey-icon-color: #BABABA;
  --grey-text-dark: #707070;
  --orange-light: #FD6F00;
  --orange-dark: #E46400;
  --orange-dark-1: #984300;
  --orange-dark-2: #CA5900;
  --background-color-orange: linear-gradient(125deg, var(--orange-light), var(--orange-dark));
  --text-color-orange: -webkit-linear-gradient(125deg, var(--orange-light), var(--orange-dark));
  --title-orange: -webkit-linear-gradient(125deg, var(--orange-dark-1), var(--orange-light), var(--orange-dark-2));
  --white-background-opacity: rgba(255, 255, 255, 0.04);
}

html, body {
  background-color: var(--background-color-body);
}

body {
  padding-top: 70px;
}

a, p, h1, h2, h3, h4, h5, h6, span, li, div, button {
  font-family: var(--font-lato);
  font-weight: 400;
  font-style: normal;
}

p {
  color: var(--grey-color);
  font-size: 1em;
  line-height: 1.6;
}

.a-text {
  font-weight: 500;
  color: var(--grey-color);
  text-decoration: inherit;
}

.a-text:hover, .a-text:focus, .a-text:active, .a-text.active, .logo {
  background: var(--text-color-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  font-size: 1.8em;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white-text-light);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.title-h2 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

#about, #contact {
    scroll-margin-top: 80px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: var(--background-color-orange);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

.a-btn, .a-btn:hover, .a-btn:focus, .a-btn:active {
  background: var(--background-color-orange);
  -webkit-text-fill-color: #ffffff;
  color: #ffffff;
}

.a-btn:hover {
  opacity: 0.9;
}

li {
  list-style: none;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler.focus, .navbar-toggler.active {
  outline: none;
  box-shadow: none;
}

.img[alt] {
  color: --white-text;
}

.input-form {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--white-text);
}

.input-form {
    background-color: var(--white-background-opacity);
}

.input-form::placeholder, .label-consent {
    color: var(--grey-color);
}

.network-container {
    z-index: 1;
    .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.04);
        border: 1px solid #575757;
        transition: background-color 0.3s ease-in-out;

        svg {
            width: 20px;
            height: 20px;
            color: var(--grey-icon-color);
            transition: color 0.3s ease-in-out;
        }
    }

    .circle:hover {
        background-color: var(--orange-dark);

        svg {
          color: #000000;
        }
    }

    .circle i {
        color: var(--grey-icon-color);
        transition: color 0.3s ease-in-out;
    }

    .circle:hover i {
        color: #000000;
    }    
}

.badge {
    background-color: var(--orange-light);
    color: var(--black-text);
}

.icon-skill {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 2.5em;
    color: var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 8px solid var(--orange-dark);

    svg {
        width: 30px;
        height: 30px;
    }
}

.label-skill {
    margin-top: 0.5em;
    font-weight: 600;
    min-height: 16px;
    color: var(--grey-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
