.label-filter {
    color: var(--white-text);
    font-weight: 600;
}

.select-form.filter {
    /* Fond transparent (comme votre --white-background-opacity) */
    background-color: rgba(255, 255, 255, 0.1) !important; /* Ajustez l'opacité (0.1 = 10%) */
    color: var(--white-text) !important;
    border: none !important;
    border-radius: 5px !important;
    height: 44px !important;
    padding: 0 10px !important;
    width: 100% !important;

    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right 8px center !important;
    background-size: 16px !important;
}

select option {
    background-color: #1b1b1b !important;
    color: var(--white-text) !important;
    padding: 8px !important;
}

select option:checked, select option:hover, select option:focus {
    background-color: #4e4e4e !important;
}

.card {
    background-color: var(--white-background-opacity) !important;


    .card-img-top {
        max-height: 150px;
        object-fit: cover;
        object-position: top;
    }

    .card-title {
        color: var(--white-text);
        font-weight: 700;
    }
}

.pagination {
    .page-item span, .page-item a {
        background-color: var(--orange-dark);
        border-color: var(--orange-dark);

        color: var(--white-text);

        span, .page-link {
            color: var(--white-text);
        }
    }

    .page-item.active span, .page-item.active a {
        background-color: var(--white-background-opacity);
        border-color: var(--white-background-opacity);

        color: var(--white-text);

        span, .page-link {
            color: var(--white-text);
        }
    }

    .page-item.disabled span, .page-item.disabled a {
        background-color: var(--orange-light);
        border-color: var(--orange-light);

        color: var(--white-text);

        span, .page-link {
            color: var(--white-text);
        }
    }
}