.footer-navbar {
    background-color: rgba(255, 255, 255, 0.04);
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid #575757;
    transition: background-color 0.3s ease-in-out;
}

.circle:hover {
    background-color: var(--orange-dark);
}

.circle i {
    color: var(--grey-icon-color);
    transition: color 0.3s ease-in-out;
}

.circle:hover i {
    color: #000000;
}

.footer-barre {
    border: none;
    height: 1px;
    background-color: var(--grey-color);
    margin: 1em 0;
    width: 100%;
}

.copyright {
    color: var(--grey-color);
    font-size: 0.9em;
}