@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --font-lato: "Lato", sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-color: #ffffff;
  --gray-color: #959595;
  --orange-light: #FD6F00;
  --orange-dark: #E46400;
  --background-color-orange: linear-gradient(125deg, var(--orange-light), var(--orange-dark));
  --text-color-orange: -webkit-linear-gradient(125deg, var(--orange-light), var(--orange-dark));
}

a, p, h1, h2, h3, h4, h5, h6, span, li, div, button {
  font-family: var(--font-lato);
  font-weight: 400;
  font-style: normal;
}

a {
  font-weight: 500;
  color: var(--grey-color);
  text-decoration: inherit;
}
a:hover, a:focus, a:active, a.active, .logo {
  color: var(--main-color-orange);
  background: var(--text-color-orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  font-size: 1.8em;
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: var(--background-color-orange);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.a-btn, .a-btn:hover, .a-btn:focus, .a-btn:active {
  background: var(--background-color-orange);
  -webkit-text-fill-color: #ffffff;
  color: #ffffff;
}

.a-btn:hover {
  opacity: 0.9;
}

li {
  list-style: none;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler.focus, .navbar-toggler.active {
  outline: none;
  box-shadow: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
